@use './reset.scss';

.container {
	padding: 10px;
}

.card {
	width: 200px;
	padding: 8px 0px 8px 5px;
	border: 1px solid #ddd;
	position: absolute;
	background: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 5px #ddd;
	&__title {
		font-size: 1.2rem;
	}
	&__stats {
		margin-top: 5px;
	}
}
