@use './reset';

.container {
	padding: 10px;
}

.card {
	// position: absolute;
	width: 200px;
	padding: 8px 0px 8px 5px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 1px 1px 5px #ddd;
	&--high {
		background-color: #f3b1a7;
		border-color: #e7624f;
	}
	&--middle {
		background-color: #fde4b4;
		border-color: #fbc968;
	}
	&--low {
		background-color: #bbdcf4;
		border-color: #76b8e8;
	}
	&__title {
		font-size: 1.2rem;
	}
	&__stats {
		margin-top: 5px;
	}
}
